@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: steelblue;
}

.content {
  display: flex;
  align-items: center;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: 1px solid #000;
  background-color: #fff;
}

.fill {
  background-image: url("https://picsum.photos/id/31/500/500");
  background-position: center center;
  background-size: contain;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.hold {
  border: 5px solid #ccc;
}

.hovered {
  background-color: #333;
  border-color: #fff;
  border-style: dashed;
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
  }
}
