@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg {
  background: url("https://picsum.photos/1920/1080") no-repeat center
    center/cover;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(10px);
  transform: scale(1.3);
}

.loading-text {
  font-size: 50px;
  color: #fff;
  user-select: none;
}
